// Breakpoint-Sass Media Queries
// http://breakpoint-sass.com/
$breakpoint-small: 20em; // 320px
$breakpoint-medium: 40em; // 640px
$breakpoint-large: 60em; // 960px
$breakpoint-xlarge: 75em; // 1200px
