---
title: Page not found
layout: default
content: ./content/markdown.md
---
<div class="slab slab--tall">
  <h1 class="header">Whoops, that's a fake 404</h1>
  <p class="p">This shiz don't exist, yo. You were just redirected by browserSync using middleware.</p>
</div>
