---
title: Handlebars Helpers
layout: default
activePage: Page 3
---
<div class="slab slab--tall">
    <p>Here are some really simple <a href="https://github.com/assemble/handlebars-helpers">handlebars-helpers</a> examples (<a href="https://github.com/assemble/handlebars-helpers">see the Github page</a> for more info).</p>
    <code>\{{#eq 'foo' 'foo'}} //code \{{/eq}}</code> : {{#eq 'foo' 'foo'}}Yep, that was true!{{/eq}}
    <br><br>
    <code>\{{lowercase "Foo BAR baZ"}}</code> : {{lowercase "Foo BAR baZ"}}
    <br><br>
    <code>\{{reverse "Foo Bar Baz"}}</code> : {{reverse "Foo Bar Baz"}}
    <br><br>
    <p>Be sure to check the Github page above as there are a lot more recipes, especially when working with data.
</div>
